{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "importOrder": ["^react$", "^react-dom$", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderParserPlugins": ["jsx", "typescript", "decorators-legacy"]
}
